@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css); 

/* reset */
body{
    -ms-overflow-style: none;
    margin: 0;
    height: 100%;
}

body::-webkit-scrollbar{
    display:none;
    height: 100%;
}

main{
    width: 100vw;
    height: auto;
}

*{ 
    margin:0;  
	padding:0;
    border: 0;
    cursor: default;
    list-style: none;
    font-family: 'Noto Sans KR', sans-serif!important;
    font-style: normal;
    text-decoration:none;
    outline:0;
}

ol,ul, li, em, a, h2, hr, p, h3, h1, h4, h5, input, select, textarea{ 
    list-style: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    text-decoration:none;
    outline:0;
}

img{ 
    border:0;
}